body{
	background: white;
}

.container .input{
	border: 0;
	outline: none;
	color: #8b7d77;
}

.search_wrap{
	width: 500px;
	margin: 30px auto;
}

.search_wrap .search_box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search_wrap .search_box .input{
	width: 600px;
	height: 30px;
	padding: 10px 20px;
	border: 0.5px solid;
	border-radius: 50px;
	border-color: gray;
	font-size: 18px;
	color: black;
}

.search_wrap .search_box .btn{
	position: absolute;
	width: 150px;
	height: 30px;
	top: 60px;
	left: 250px;
	margin: 10px auto;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	border: none;
}

.links{
	position: absolute;
	right: 0;
	width: 200px;
	margin: 20px;
}

a{
	padding: 10px;
	color: black;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
